server :
  port: 9296

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
#        git:
#          uri: https://github.com/Karthikey-Sharma/spring-app-config
#          clone-on-start: true
          git:
            uri: https://github.com/Karthikey-Sharma/spring-app-config
            # 1. Added explicit branch (usually 'main' for new GitHub repos)
            default-label: main
            # 2. Added search paths if your files are in a subfolder (like 'config-folder')
            # search-paths: '{application}'
            clone-on-start: true
  eureka:
    client:
      fetch-registry: true
      register-with-eureka: true
      service-url:
        defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}
    instance:
      prefer-ip-address: true